/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

input,
textarea {
  border: none;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-size: var(--fs-header-5);
}
@media (max-width: 45rem) {
  input,
textarea {
    font-size: var(--fs-paragraph);
  }
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

/* Make images easier to work with */
img,
picture,
svg {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
  border-radius: 8px;
}

picture.full-width img {
  width: 100%;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-moz-selection { /* Code for Firefox */
  color: var(--clr-neutral-100);
  background: var(--clr-accent);
}

::selection {
  color: var(--clr-neutral-100);
  background: var(--clr-accent);
}

:root {
  --clr-neutral-900:hsla(225, 7%, 12%, 1);
  --clr-neutral-500:hsla(0, 0%, 55%, 1);
  --clr-neutral-300:hsla(180, 1%, 85%, 1);
  --clr-neutral-200:hsla(0, 0%, 94%, 1);
  --clr-neutral-100:hsla(0, 0%, 100%, 1);
  --clr-error:hsla(360, 67%, 52%, 1);
  --clr-accent:hsla(225, 100%, 53%, 1);
}

:root {
  --ff-primary: termina, sans-serif;
  --ff-body:var(--ff-primary);
  --ff-heading:var(--ff-primary);
  --fw-regular:400;
  --fw-demi:500;
  --fw-bold:600;
  --fs-header-1:clamp(2.5rem, 1.9273rem + 2.5455vw, 6rem);
  --fs-header-2:clamp(2rem, 1.6727rem + 1.4545vw, 4rem);
  --fs-header-3:clamp(1.75rem, 1.5455rem + 0.9091vw, 3rem);
  --fs-header-4:clamp(1.5rem, 1.4182rem + 0.3636vw, 2rem);
  --fs-header-5:1.5rem;
  --fs-paragraph:1rem;
  --fs-small-paragraph:0.875rem;
}

.text-primary {
  color: var(--clr-neutral-900);
}

.text-secondary {
  color: var(--clr-neutral-500);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-demi {
  font-weight: var(--fw-demi);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-header-1 {
  font-size: var(--fs-header-1);
  line-height: 1.2;
}

.fs-header-2 {
  font-size: var(--fs-header-2);
  line-height: 1.2;
}

.fs-header-3 {
  font-size: var(--fs-header-3);
  line-height: 1.2;
}

.fs-header-4 {
  font-size: var(--fs-header-4);
  line-height: 1.2;
}

.fs-header-5 {
  font-size: var(--fs-header-5);
  line-height: 1.2;
}

.fs-paragraph {
  font-size: var(--fs-paragraph);
  line-height: 1.8;
}
@media (max-width: 45rem) {
  .fs-paragraph {
    font-size: var(--fs-small-paragraph);
  }
}

.fs-small-paragraph {
  font-size: var(--fs-small-paragraph);
  line-height: 1.8;
}

.fs-demi {
  font-weight: var(--fw-demi);
}

.section {
  --max-width:120rem;
  --padding:2rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
@media (max-width: 45rem) {
  .section {
    --padding:1rem;
  }
}

.flow > * + * {
  margin-block-start: var(--flow-spacer, 20rem);
}
@media (max-width: 45rem) {
  .flow > * + * {
    margin-block-start: var(--flow-spacer, 8rem);
  }
}

.flex {
  display: flex;
}

.flex-d-c {
  flex-direction: column;
}

span.red {
  color: var(--clr-error);
}

.padding__new {
  padding-inline: 2rem;
}
@media (max-width: 45rem) {
  .padding__new {
    --padding:1rem;
  }
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.performance {
  contain: content;
  content-visibility: auto;
}

.not-allow {
  cursor: not-allowed;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
}

header {
  margin-block-end: 6rem;
}
@media (max-width: 45rem) {
  header {
    margin-block-end: 2.5rem;
  }
}

.header-image {
  width: 100%;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 6rem;
}
.introduction__name h2 {
  text-align: center;
}
@media (max-width: 45rem) {
  .introduction {
    margin-block-end: 2.5rem;
  }
}
.introduction__textarea {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-block-start: 2.5rem;
}
@media (max-width: 45rem) {
  .introduction__textarea {
    flex-direction: column;
    gap: 1rem;
  }
}
.introduction__textarea > * {
  flex: 1;
}
.introduction__textarea--bodytext {
  max-width: 700px;
  padding-block-start: 1.5em;
}
@media (max-width: 45rem) {
  .introduction__textarea--bodytext {
    padding-block-start: 0;
  }
}
.introduction__textarea--bodytext p:nth-child(1) {
  margin-block-end: 20px;
}
.introduction__textarea--bodytext p:nth-child(2) {
  margin-block-end: 20px;
}

.counter {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--clr-neutral-300);
  padding-block-start: 0.75rem;
}
@media (max-width: 45rem) {
  .counter {
    margin-block-end: 1rem;
  }
}

.selections,
.experience {
  margin-block-end: 200px;
}
@media (max-width: 45rem) {
  .selections,
.experience {
    margin-block-end: 5rem;
  }
}

.footer {
  margin-block-end: 5rem;
}

.software {
  margin-block-end: 120px;
}
@media (max-width: 45rem) {
  .software {
    margin-block-end: 5rem;
  }
}

.software__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.software__content--grid {
  overflow: hidden;
}
@media (max-width: 45rem) {
  .software__content--grid {
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .software__content--grid::-webkit-scrollbar {
    display: none;
  }
}
.software__content--grid .software__grid {
  display: flex;
  padding-block: 5rem;
  cursor: none;
  scroll-snap-type: x mandatory;
}
@media (max-width: 45rem) {
  .software__content--grid .software__grid {
    scroll-snap-type: x mandatory;
    padding-block: 2rem;
  }
}
.software__content--grid .grid__element {
  scroll-snap-align: start;
  min-width: 400px;
  width: 100%;
}
.software__content--grid .grid__element:not(:first-child) {
  padding-inline-start: 40px;
}
@media (max-width: 45rem) {
  .software__content--grid .grid__element:not(:first-child) {
    padding-inline-start: 20px;
  }
  .software__content--grid .grid__element {
    min-width: 300px;
    scroll-snap-align: center;
  }
}
.software__content--grid .grid__element .element__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 24px;
}

.bar__container {
  display: flex;
  justify-content: center;
}
.bar__container .software__content--bar {
  max-width: 1000px;
  background-color: var(--clr-neutral-200);
  height: 8px;
  border-radius: 4px;
}
.bar__container .software__content--bar .progress__bar {
  height: 100%;
  width: 0%;
  border-radius: 4px;
  background-color: var(--clr-neutral-900);
}

.confident {
  display: flex;
  flex-direction: column;
  margin-block-end: 6rem;
}
@media (max-width: 45rem) {
  .confident {
    margin-block-end: 5rem;
  }
}
.confident__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 45rem) {
  .confident__content {
    --flow-spacer: 4rem !important;
    align-items: inherit;
  }
}
.confident__content--element {
  max-width: 43.75rem;
}
.confident__content--element .element__description {
  margin-block-start: 1rem;
}
.confident__content--element .element__description p:nth-child(1) {
  margin-block-end: 20px;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.company__details {
  display: flex;
  gap: 1.5rem;
  max-width: 490px;
}
.company__details .logo img {
  max-width: 80px;
}
.company__position {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 45rem) {
  .company__position {
    flex-direction: column;
    gap: 1rem;
  }
}
.company__position .position__description {
  max-width: 700px;
}
.company__position .position__description p:nth-child(1) {
  margin-block-end: 20px;
}
@media (max-width: 45rem) {
  .company__position .position__description {
    padding-inline-start: 2.5rem;
  }
}
@media (min-width: 100rem) {
  .company__position .position__description {
    padding-inline-start: 2.5rem;
    max-width: 930px;
  }
}
.company__position .position__information {
  min-width: 390px;
}
@media (max-width: 45rem) {
  .company__position .position__information {
    min-width: auto;
  }
}
.company__position .position__information--name::before {
  content: "";
  display: flex;
  min-width: 14px;
  min-height: 14px;
  border-radius: 50%;
  background-color: var(--clr-neutral-900);
}
.company__position .position__information--name {
  display: flex;
  align-items: center;
}
.company__position .position__information--name > p {
  margin-inline-start: 1.5rem;
}
.company__position .position__information--date {
  margin-inline-start: 38px;
}
.company .multiple_positions {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.selections__content {
  margin-block-end: 20rem;
}
@media (max-width: 45rem) {
  .selections__content {
    margin-block-end: 4rem;
  }
}
.selections__content .project__details--description {
  margin-block-start: 24px;
}
.selections__content .project__details--description a > p {
  margin-block-start: 16px;
}
.selections__content .first {
  display: flex;
  gap: 40px;
}
@media (max-width: 45rem) {
  .selections__content .first {
    flex-direction: column-reverse;
  }
}
.selections__content .first .project__details {
  flex: 1;
}
.selections__content .first .project__details--description {
  max-width: 430px;
  margin-inline-start: auto;
}
.selections__content .first .project__image {
  flex: 1;
}
@media (max-width: 45rem) {
  .selections__content .first .project__image {
    margin-block-end: 0;
  }
}
.selections__content .second .project__details {
  max-width: 50ch;
  margin-inline-start: auto;
}
.selections__content .project__grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media (max-width: 45rem) {
  .selections__content .project__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 7em;
  }
}
.selections__content .project__image {
  margin-block-end: 24px;
}
.selections__content .project__image img {
  width: 100%;
}
@media (max-width: 45rem) {
  .selections__content .project__image {
    margin-block-end: 40px;
  }
}

footer {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  padding-block-start: 4rem;
}
footer .title {
  display: flex;
  align-items: center;
  max-width: 800px;
  gap: 40px;
}
@media (max-width: 45rem) {
  footer .title {
    flex-direction: column;
    align-items: inherit;
  }
  footer .title img {
    width: 115px;
  }
}
footer .footer__content form {
  max-width: 70rem;
}
footer .footer__content form div:first-child {
  border-top: 1px solid var(--clr-neutral-100);
}
footer .footer__content form .post__row {
  gap: 24px;
  padding: 80px 0;
  border-bottom: 1px solid var(--clr-neutral-100);
}
@media (max-width: 45rem) {
  footer .footer__content form .post__row {
    padding: 64px 0;
    gap: 8px;
  }
}
footer .footer__content form .post__row label {
  font-size: var(--fs-header-5);
}
@media (max-width: 45rem) {
  footer .footer__content form .post__row label {
    font-size: var(--fs-paragraph);
  }
}
footer .footer__content form .post__row input::placeholder {
  font-size: var(--fs-header-5);
  color: var(--clr-neutral-500);
}
@media (max-width: 45rem) {
  footer .footer__content form .post__row input::placeholder {
    font-size: var(--fs-paragraph);
  }
}
footer .footer__content form .post__row input:focus {
  outline: none;
}
footer .footer__content form .post__row textarea {
  resize: none;
  overflow: auto;
  height: 8em;
}
footer .footer__content form .post__row textarea:focus {
  outline: none;
}
footer .footer__content form .button__section {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1rem;
}
footer .footer__content form .button__section .magnetic__container {
  border: none;
}
footer .footer__content form .button__section .magnetic__container button {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  transition: transform 50ms ease-out;
}
footer .footer__content form .button__section .magnetic__container button span {
  transition: transform 50ms ease-out;
}
footer .policy {
  text-align: end;
  margin-block-start: 80px;
  padding: 8px 0;
}

.kiddy {
  height: 100%;
}
.kiddy .header__title {
  margin-block-end: 4rem;
}
@media (max-width: 45rem) {
  .kiddy .header__title {
    margin-block-end: 2.5rem;
  }
}
.kiddy .header__title--name {
  display: flex;
  gap: 1rem;
}
.kiddy .header__title--name a img {
  aspect-ratio: 1;
  height: 5rem;
}
@media (max-width: 45rem) {
  .kiddy .header__title--name a img {
    height: 3rem;
  }
}
.kiddy .overview {
  display: flex;
}
@media (max-width: 64rem) {
  .kiddy .overview {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.kiddy .overview__title {
  flex: 1;
}
.kiddy .overview__details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 45rem) {
  .kiddy .overview__details {
    gap: 5rem;
  }
}
.kiddy .overview__details--row {
  display: flex;
  padding-block-start: 4rem;
  border-block-start: 1px solid var(--clr-neutral-300);
}
@media (max-width: 45rem) {
  .kiddy .overview__details--row {
    flex-direction: column;
    padding-block-start: 1.5rem;
    border-block-start: none;
  }
}
.kiddy .overview__details--row:nth-child(1) .row__title::before {
  content: "01";
}
.kiddy .overview__details--row:nth-child(2) .row__title::before {
  content: "02";
}
.kiddy .overview__details--row:nth-child(3) .row__title::before {
  content: "03";
}
.kiddy .overview__details--row .row__title {
  flex: 1;
  display: flex;
  gap: 0.25rem;
  padding-inline-end: 2.5rem;
}
@media (max-width: 45rem) {
  .kiddy .overview__details--row .row__title {
    gap: 0.5rem;
    margin-block-end: 1rem;
    padding-inline-end: 0rem;
  }
}
.kiddy .overview__details--row .row__title::before {
  font-size: var(--fs-small-paragraph);
}
.kiddy .overview__details--row .row__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.kiddy .overview__details--row .row__description ul {
  list-style-position: inside;
}
.kiddy .overview__details--row .row__description ul li p {
  display: inline-block;
}
.kiddy .section.features .project__description {
  max-width: 50ch;
  margin-inline-start: auto;
}
.kiddy section.project__grid {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
@media (max-width: 45rem) {
  .kiddy section.project__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 7rem;
  }
}
.kiddy section.project__grid .project__image {
  margin-block-end: 1.5rem;
}
.kiddy .experience {
  display: flex;
}
@media (max-width: 64rem) {
  .kiddy .experience {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.kiddy .experience__title {
  flex: 1;
}
.kiddy .experience__details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 45rem) {
  .kiddy .experience__details {
    gap: 5rem;
  }
}
.kiddy .experience__details--row {
  display: flex;
  padding-block-start: 4rem;
  border-block-start: 1px solid var(--clr-neutral-300);
}
@media (max-width: 45rem) {
  .kiddy .experience__details--row {
    flex-direction: column;
    padding-block-start: 1.5rem;
    border-block-start: none;
  }
}
.kiddy .experience__details--row:nth-child(1) .row__title::before {
  content: "04";
}
.kiddy .experience__details--row:nth-child(2) .row__title::before {
  content: "05";
}
.kiddy .experience__details--row .row__title {
  flex: 1;
  display: flex;
  gap: 0.25rem;
  padding-inline-end: 1.5rem;
}
@media (max-width: 45rem) {
  .kiddy .experience__details--row .row__title {
    gap: 0.5rem;
    margin-block-end: 1rem;
    padding-inline-end: 0rem;
  }
}
.kiddy .experience__details--row .row__title::before {
  font-size: var(--fs-small-paragraph);
}
.kiddy .experience__details--row .row__description {
  flex: 1;
}
.kiddy .experience__details--row .row__description p:nth-child(1) {
  margin-block-end: 20px;
}
.kiddy .experience__details--row .row__description p:nth-child(2) {
  margin-block-end: 20px;
}
.kiddy .experience__details--row .row__description p:nth-child(3) {
  margin-block-end: 20px;
}
.kiddy .experience__details--row .row__description ul {
  list-style-position: inside;
}

.magnetic {
  position: relative;
  cursor: pointer;
}
.magnetic p {
  position: relative;
  display: inline-block;
  padding: 24px;
  transition: transform 50ms ease-out;
  line-height: 1;
}
.magnetic p .rotate {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.magnetic p:hover > .rotate {
  transform: rotate(360deg);
}

.magnetic-button {
  margin-inline-start: -24px;
}

.mouse__cursor {
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 0;
  background: var(--clr-accent);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.2s cubic-bezier(0.36, 0, 0.66, 0), height 0.2s cubic-bezier(0.36, 0, 0.66, 0);
  will-change: transform, width, height;
  z-index: 2;
}
.mouse__cursor p {
  font-size: 0em;
  transition: font-size 0.2s cubic-bezier(0.36, 0, 0.66, 0);
  will-change: font-size;
  color: var(--clr-neutral-100);
}

.mouse__cursor--active {
  height: 110px;
  width: 110px;
}
.mouse__cursor--active p {
  font-size: var(--fs-small-paragraph);
  transition: font-size 0.4s cubic-bezier(0.34, 1, 0.64, 1);
}

@keyframes entry {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes counterAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes righToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.entry {
  display: block;
  overflow: hidden;
  height: max-content;
}

.entry.show > h2 {
  animation: entry 0.7s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.entry.show > h4 {
  opacity: 0;
  animation: entry 0.7s cubic-bezier(0.7, 0, 0.3, 1) 0.5s forwards;
}

.introduction__image {
  opacity: 0;
  animation: imageAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) 1s forwards;
}

.introduction__textarea--title {
  opacity: 0;
  animation: imageAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) 1.4s forwards;
}

.introduction__textarea--bodytext {
  opacity: 0;
  animation: imageAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) 1.8s forwards;
}

.unrevealed {
  width: 0px;
  overflow: hidden;
}

.reveal {
  animation: counterAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.reveal > * {
  opacity: 0;
  animation: righToLeft 0.3s cubic-bezier(0.16, 0, 0.06, 0.79) 1s forwards;
}

.title-animation {
  overflow: hidden;
  display: inline-block;
}

.title-animation > * {
  opacity: 0;
}

.rightToLeft > * {
  animation: entry 0.3s cubic-bezier(0.16, 0, 0.06, 0.79) 1s forwards;
}

.grid__element {
  opacity: 0;
}

.software__content--bar {
  width: 0px;
}

.grid-reveal .grid__element {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) forwards;
}
.grid-reveal .grid__element:nth-child(1) {
  animation-delay: 1.1s;
}
.grid-reveal .grid__element:nth-child(2) {
  animation-delay: 1.2s;
}
.grid-reveal .grid__element:nth-child(3) {
  animation-delay: 1.3s;
}
.grid-reveal .grid__element:nth-child(4) {
  animation-delay: 1.4s;
}
.grid-reveal .grid__element:nth-child(5) {
  animation-delay: 1.5s;
}
.grid-reveal .grid__element:nth-child(6) {
  animation-delay: 1.6s;
}
.grid-reveal .grid__element:nth-child(7) {
  animation-delay: 1.7s;
}
.grid-reveal .grid__element:nth-child(8) {
  animation-delay: 1.8s;
}
.grid-reveal .software__content--bar {
  animation: counterAnimation 0.7s cubic-bezier(0.16, 0, 0.06, 0.79) 1s forwards;
}

.confident__content--element {
  opacity: 0;
}

.confident-reveal {
  animation: entry 0.3s cubic-bezier(0.16, 0, 0.06, 0.79) 0.5s forwards;
}

.company__position .position__information--name {
  overflow: hidden;
  height: min-content;
}
.company__position .position__information--name > * {
  transform: translateY(150%);
}
.company__position .position__information--name::before {
  transform: translateY(150%);
}
.company__position .position__information--date {
  overflow: hidden;
  height: min-content;
}
.company__position .position__information--date > * {
  transform: translateY(150%);
}
.company__details .logo {
  overflow: hidden;
  display: inline-block;
  height: min-content;
  min-width: 80px;
}
.company__details .logo img {
  transform: translateY(100%);
}

.information__name,
.information__date {
  overflow: hidden;
  display: block;
}
.information__name p,
.information__date p {
  opacity: 0;
  transform: translateY(100%);
}
.information__name h3,
.information__date h3 {
  transform: translateY(100%);
}
.information__name > *,
.information__date > * {
  overflow: hidden;
  display: block;
}
.information__name > * > span,
.information__date > * > span {
  opacity: 0;
  transform: translateY(100%);
  display: inline-block;
}

.experience-reveal .company__position .position__information--name > * {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) 0.5s forwards;
}
.experience-reveal .company__position .position__information--name::before {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) 0.5s forwards;
}
.experience-reveal .company__position .position__information--date > * {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) 0.7s forwards;
}
.experience-reveal .multiple .information__name h3:nth-child(1) > span {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) 0.3s forwards;
}
.experience-reveal .multiple .information__name h3:nth-child(2) > span {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) 0.6s forwards;
}
.experience-reveal .multiple .information__date > * {
  animation: entry 0.3s cubic-bezier(0.16, 0, 0.06, 0.79) 0.8s forwards;
}

.experience-reveal .company__details .logo img {
  animation: entry 0.3s cubic-bezier(0.16, 0, 0.06, 0.79) 0.3s forwards;
}
.experience-reveal .company__details .information__name h3 {
  animation: entry 0.5s cubic-bezier(0.16, 0, 0.06, 0.79) forwards;
}
.experience-reveal .company__details .information__date > * {
  animation: entry 0.3s cubic-bezier(0.16, 0, 0.06, 0.79) 0.5s forwards;
}

.preloader {
  position: fixed;
  transform: translateY(0);
  background-color: var(--clr-neutral-900);
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1) 1s;
}
.preloader.hide {
  transform: translateY(-100%);
}
.preloader__text--content {
  overflow: hidden;
  display: block;
  position: absolute;
}
.preloader__text--content span {
  transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1);
  display: inline-block;
  position: relative;
  color: var(--clr-neutral-100);
  transform: translateY(100%);
}
.preloader__text--content span.fade {
  transform: translateY(0%);
}

.transition {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--clr-neutral-900);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  z-index: 1;
}

.cover-leave-active,
.cover-enter-active,
.cover-leave-active .transition,
.cover-enter-active .transition {
  transition: transform 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.cover-leave .transition {
  transform: translateY(-100%);
}

.cover-leave-to .transition {
  transform: translateY(0);
}

.cover-enter .transition {
  transform: translateY(0);
}

.cover-enter-to .transition {
  transform: translateY(100%);
}/*# sourceMappingURL=style.css.map */