@keyframes entry {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes imageAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes counterAnimation{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }

  @keyframes righToLeft {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes leftToRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

//First Entry Animation

.entry{
    display: block;
    overflow: hidden;
    height: max-content;
}

.entry.show>h2{
    animation: entry .7s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.entry.show>h4{
    opacity: 0;
    animation: entry .7s cubic-bezier(0.7, 0, 0.3, 1) .5s forwards;
}

.introduction__image{
    opacity: 0;
    animation: imageAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) 1s forwards;
}

.introduction__textarea--title{
  opacity: 0;
  animation: imageAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) 1.4s forwards;
}
.introduction__textarea--bodytext{
  opacity: 0;
  animation: imageAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) 1.8s forwards;
}

//Counter Animation

.unrevealed{
  width: 0px;
  overflow: hidden;
}

.reveal{
  animation: counterAnimation 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

.reveal>*{
  opacity: 0;
  animation: righToLeft 0.3s cubic-bezier(.16, 0,.06,.79) 1s forwards;
}

//Title Under Counter

.title-animation{
  overflow: hidden;
  display: inline-block;
}

.title-animation>*{
  opacity: 0;
}
.rightToLeft>*{
  animation: entry 0.3s cubic-bezier(.16, 0,.06,.79) 1s forwards;
}


//Grid Animations

.grid__element{
  opacity: 0;
}
.software__content--bar{
width: 0px;}
.grid-reveal {
  .grid__element {

    animation: entry .5s cubic-bezier(.16, 0,.06,.79) forwards;
      
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: .5s + (100ms * $i);
      }
    }
  }
  .software__content--bar{
    animation: counterAnimation .7s cubic-bezier(.16, 0,.06,.79) 1s forwards;
  }
}

// Confident Elements Animations

.confident__content--element{
  opacity: 0;
}
.confident-reveal{
  animation: entry .3s cubic-bezier(.16, 0,.06,.79) .5s forwards;
}

// Experience Animations

.experience__content>*{
opacity: 0;
}