:root{
    --clr-neutral-900:hsla(225, 7%, 12%, 1);
    --clr-neutral-500:hsla(0, 0%, 55%, 1);
    --clr-neutral-300:hsla(180, 1%, 85%, 1);
    --clr-neutral-200:hsla(0, 0%, 94%, 1);
    --clr-neutral-100:hsla(0, 0%, 100%, 1);
    }