.mouse__cursor {
    // top: -80px;
    // left: -80px;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0;
    background: var(--clr-accent);
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .2s cubic-bezier(0.36, 0, 0.66, 0), height .2s cubic-bezier(0.36, 0, 0.66, 0);
    will-change: transform, width, height;
    z-index: 2;
    p{
        font-size: 0em;
        transition: font-size .2s cubic-bezier(0.36, 0, 0.66, 0);
        will-change: font-size;
        color: var(--clr-neutral-100);
    }
}

.mouse__cursor--active {
    height: 110px;
    width: 110px;
    @media (max-width: 45rem) {
        &{
            display: none;
        }
    }
    p{
        font-size: var(--fs-small-paragraph);
        transition: font-size .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
}
