.mouse__cursor {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 0;
    background: red;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .2s cubic-bezier(0.36, 0, 0.66, 0), height .2s cubic-bezier(0.36, 0, 0.66, 0);
    will-change: transform, width, height;
    p{
        font-size: 0em;
        transition: font-size .4s cubic-bezier(0.36, 0, 0.66, 0);
        will-change: font-size;
    }
}

.mouse__cursor--active {
    height: calc(clamp(3.75em, 5.5vw, 8em) * 2);
    width: calc(clamp(3.75em, 5.5vw, 8em) * 2);
    p{
        font-size: 1em;
        transition: font-size .4s cubic-bezier(0.34, 1, 0.64, 1);
    }
}
