body {
    font-family: var(--ff-primary);
    color: var(--clr-neutral-900);

}

header {
    margin-block-end: 6rem;

    @media (max-width: 45rem) {
        & {
            margin-block-end: 2.5rem;
        }
    }
}

.header-image {
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 6rem;

    &__name {
        h2 {
            text-align: center;
        }
    }

    @media (max-width: 45rem) {
        & {
            margin-block-end: 2.5rem;
        }
    }

    &__textarea {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-block-start: 2.5rem;

        @media (max-width: 45rem) {
            & {
                flex-direction: column;
                gap: 1rem;
            }
        }

        &>* {
            flex: 1;
        }

        &--bodytext {
            max-width: 700px;
            padding-block-start: 1.5em;

            @media (max-width: 45rem) {
                & {
                    padding-block-start: 0;
                }
            }
        }
    }
}

.counter {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--clr-neutral-300);
    padding-block-start: 0.75rem;

    @media (max-width: 45rem) {
        & {
            margin-block-end: 1rem;
        }
    }
}

.selections,
.experience,
.footer {
    margin-block-end: 200px;

    @media (max-width: 45rem) {
        & {
            margin-block-end: 5rem;
        }
    }
}

.software {
    margin-block-end: 120px;

    @media (max-width: 45rem) {
        & {
            margin-block-end: 5rem;
        }
    }
}

// .software__content--grid {
//     --grid-layout-gap: 2.5rem;
//     --grid-column-count: 4;
//     --grid-item--min-width: 320px;

//     --gap-count: calc(var(--grid-column-count) - 1);
//     --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
//     --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
//     grid-gap: var(--grid-layout-gap);

//     @media (max-width: 45rem) {
//         & {
//             --grid-layout-gap: 4rem;
//             --grid-item--min-width: 100%;

//         }
//     }

//     .grid__element {
//         .element__title {
//             display: flex;
//             align-items: center;
//             gap: 1rem;
//             margin-block-end: 24px;
//         }
//     }
// }


.software__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.software__content--grid {
    overflow: hidden;

    @media (max-width: 45rem) {
        & {
            overflow: scroll;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .software__grid {
        display: flex;
        padding-block: 5rem;
        cursor: none;

        @media (max-width: 45rem) {
            & {
                scroll-snap-type: x mandatory;
                padding-block: 2rem;
            }
        }
    }

    .grid__element {

        min-width: 400px;
        width: 100%;

        &:not(:first-child) {
            padding-inline-start: 40px;
        }

        @media (max-width: 45rem) {
            & {
                scroll-snap-align: center;
            }
        }

        .element__title {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-block-end: 24px;
        }
    }


}

.bar__container {
    display: flex;
    justify-content: center;


    .software__content--bar {
        max-width: 1000px;
        background-color: var(--clr-neutral-200);
        height: 8px;
        border-radius: 4px;

        .progress__bar {
            height: 100%;
            width: 0%;
            border-radius: 4px;
            background-color: var(--clr-neutral-900);
        }
    }
}



.confident {
    display: flex;
    flex-direction: column;
    margin-block-end: 6rem;

    @media (max-width: 45rem) {
        & {
            margin-block-end: 5rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media (max-width: 45rem) {
            & {
                --flow-spacer: 4rem !important;
                align-items: inherit;
            }
        }

        &--element {
            max-width: 36.75rem;

            .element__description {
                margin-block-start: 1rem;
            }
        }
    }
}

.company {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &__details {
        display: flex;
        gap: 1.5rem;
        max-width: 490px;

        .logo {
            img {
                max-width: 80px;
            }
        }
    }

    &__position {
        display: flex;
        justify-content: space-between;

        @media (max-width: 45rem) {
            & {
                flex-direction: column;
                gap: 1rem;
            }
        }

        .position__description {
            max-width: 700px;

            @media (max-width: 45rem) {
                & {
                    padding-inline-start: 2.5rem;
                }
            }
            @media (min-width: 100rem) {
                & {
                    padding-inline-start: 2.5rem;
                    max-width: 930px;
                }
            }
        }

        .position__information {
            min-width: 390px;

            @media (max-width: 45rem) {
                & {
                    min-width: auto;
                }
            }

            &--name::before {
                content: '';
                display: flex;
                min-width: 14px;
                min-height: 14px;
                border-radius: 50%;
                background-color: var(--clr-neutral-900);
            }

            &--name {
                display: flex;
                align-items: center;

                &>p {
                    margin-inline-start: 1.5rem;
                }
            }

            &--date {
                margin-inline-start: 38px;
            }
        }
    }

    .multiple_positions {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
}

.selections__content {
    margin-block-end: 20rem;

    @media (max-width: 45rem) {
        & {
            margin-block-end: 4rem;
        }
    }

    .project {
        &__details {
            &--description {
                margin-block-start: 24px;

                a>p {
                    margin-block-start: 16px;
                }
            }
        }
    }

    .first {
        display: flex;
        gap: 40px;

        @media (max-width: 45rem) {
            & {
                flex-direction: column-reverse;
            }
        }

        .project__details {
            flex: 1;

            &--description {
                max-width: 430px;
                margin-inline-start: auto;
            }
        }

        .project__image {
            flex: 1;

            @media (max-width: 45rem) {
                & {
                    margin-block-end: 0;
                }
            }

        }
    }

    .second {
        .project__details {
            max-width: 50ch;
            margin-inline-start: auto;
        }

    }

    .project__grid {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        @media (max-width: 45rem) {
            & {
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 7em;
            }
        }

    }


    .project {
        &__image {
            margin-block-end: 24px;

            img {
                width: 100%;
            }

            @media (max-width: 45rem) {
                & {
                    margin-block-end: 40px;
                }
            }
        }
    }
}

footer {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    padding-block-start: 4rem;


    .title {
        display: flex;
        align-items: center;
        max-width: 800px;
        gap: 40px;

        @media (max-width: 45rem) {
            & {
                flex-direction: column;
                align-items: inherit;

                img {
                    width: 115px;
                }
            }
        }
    }

    .footer__content {
        form {
            max-width: 70rem;

            div:first-child {
                border-top: 1px solid var(--clr-neutral-100);

            }

            div {
                gap: 24px;
                padding: 80px 0;
                border-bottom: 1px solid var(--clr-neutral-100);

                @media (max-width: 45rem) {
                    & {
                        padding: 64px 0;
                        gap: 8px;
                    }
                }

                label {
                    font-size: var(--fs-header-5);

                    @media (max-width: 45rem) {
                        & {
                            font-size: var(--fs-paragraph);
                        }
                    }
                }

                input::placeholder {
                    font-size: var(--fs-header-5);
                    color: var(--clr-neutral-500);

                    @media (max-width: 45rem) {
                        & {
                            font-size: var(--fs-paragraph);
                        }
                    }
                }

                input:focus {
                    outline: none;
                }

                textarea {
                    resize: none;
                    overflow: auto;
                    height: 8em;
                }

                textarea:focus {
                    outline: none;
                }
            }

            button {
                // position: absolute;
                bottom: -20px;
                right: -30px;
                margin-block-start: 24px;
                height: 160px;
                width: 160px;
                border-radius: 50%;
                border: none;
                background-color: var(--clr-neutral-100);
                color: var(--clr-neutral-900);
            }
        }
    }

    .policy {
        text-align: end;
        margin-block-start: 80px;
        padding: 8px 0;
    }
}