.text-primary{
    color: var(--clr-neutral-900);
}

.text-secondary{
    color: var(--clr-neutral-500);
}
 
.fw-bold{
    font-weight: var(--fw-bold);
}

.fw-demi{
    font-weight: var(--fw-demi);
}

.fw-regular{
    font-weight: var(--fw-regular);
}

.fs-header-1{
    font-size: var(--fs-header-1);
    line-height: 1.2;
}

.fs-header-2{
    font-size: var(--fs-header-2);
    line-height: 1.2;
}

.fs-header-3{
    font-size: var(--fs-header-3);
    line-height: 1.2;
}

.fs-header-4{
    font-size: var(--fs-header-4);
    line-height: 1.2;
}

.fs-header-5{
    font-size: var(--fs-header-5);
    line-height: 1.2;
}

.fs-paragraph{
    font-size: var(--fs-paragraph);
    line-height: 1.8;
    @media (max-width: 45rem) {
        & {
            font-size: var(--fs-small-paragraph);
        }
    }
}

.fs-small-paragraph{
    font-size: var(--fs-small-paragraph);
    line-height: 1.8;
}

.fs-demi{
    font-weight: var(--fw-demi);
}

.section{
    --max-width:120rem;
    --padding:2rem;
    width: min(var(--max-width),100% - (var(--padding)*2));
    margin-inline: auto;
    @media (max-width: 45rem){
        &{
            --padding:1rem;        }
    }
}

.flow>*+*{
    margin-block-start: var(--flow-spacer, 20rem);
    @media (max-width: 45rem){
        &{
            margin-block-start: var(--flow-spacer, 8rem);
        }
    }
}

.flex{
    display: flex;
}

.flex-d-c{
    flex-direction: column;
}

span.red{
    color: var(--clr-error);
}

.padding__new{
padding-inline: 2rem;
        @media (max-width: 45rem){
            &{
                --padding:1rem;        }
        }
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.performance{
    contain: content;
    content-visibility: auto;
}

.not-allow{
    cursor: not-allowed;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}